@keyframes zoomBlur {
  0%, 100% {
    transform: scale(1);
    filter: blur(0px);
  }
  50% {
    transform: scale(1.1);
    filter: blur(5px);
  }
}

.animate-zoomBlur {
  animation: zoomBlur 5s ease-in-out infinite;
}
.font-family{
  font-family: "Courier New", Courier, monospace;
}

/* Dot styles */
.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active-dot {
  background-color: white;
}

/* Add this to your CSS file */
.dropdown-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms;
}

.dropdown-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 200ms, transform 200ms;
}

@keyframes slideLeftToCenter {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideRightToCenter {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideDownToCenter {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTopToCenter {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-left-to-center {
  animation: slideLeftToCenter 1s ease-out forwards;
}

.animate-right-to-center {
  animation: slideRightToCenter 1s ease-out forwards;
}

.animate-top-to-center {
  animation: slideTopToCenter 1s ease-out forwards;
}

.animate-down-to-center {
  animation: slideDownToCenter 1s ease-out forwards;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); /* Start from left */
    opacity: 0; /* Invisible at start */
  }
  100% {
    transform: translateX(0); /* End at original position */
    opacity: 1; /* Fully visible at end */
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); /* Start from right */
    opacity: 0; /* Invisible at start */
  }
  100% {
    transform: translateX(0); /* End at original position */
    opacity: 1; /* Fully visible at end */
  }
}

/* Applying the animations */
.animate-slide-left {
  animation: slideInFromLeft 1s ease-out;
}

.animate-slide-right {
  animation: slideInFromRight 1s ease-out;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.animate-slideUp {
  animation: slideUp 3s ease-in-out infinite;
}